.action-btn {
    background-color: $primary;
    border: 0.25rem solid $secondary;
    border-radius: 5rem;
    padding: 0.75rem 0;

    &.modal-btn {
        width: 90%;
        position: absolute;
        bottom: 3%;
    }
}
