.action-btn {
    background-color: $primary;
    border: 0.25rem solid $secondary;
    border-radius: 5rem;
    padding: 0.75rem 0;
    color: $font-color-primary;

    &:active {
        background-color: $primary!important;
        border: 0.25rem solid $secondary!important
    }

    &.modal-btn {
        width: 90%;
        position: absolute;
        bottom: 3%;
    }

}

.btn:disabled,
.btn:hover
{
    background-color: $primary;
    border: 2px solid $secondary;
}

