.form-group {
    position: relative;
}

.form-control {
    border: none;
    background-color: $secondary;
    border-bottom: none;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 2px solid $secondary;
    color: $font-color-primary;

    &:focus {
        color: $font-color-primary;
        background-color: $primary;
        border: 2px solid $secondary;
        box-shadow: none;
    }
    
    &::placeholder {
        color: $font-color-primary;
    }
}

.form-icon {
    position: absolute;
    right: 5%;
}



input[type=file]::-webkit-file-upload-button {
    background-color: $secondary;
    color: $font-color-primary;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right: 2px solid $primary;
    padding: 0.25rem 1rem;

}

.login-link {
    color: red;
}