

.container {
    height: 90vh;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: $font-color-primary;

    &:hover {
        color: $hover-color;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}