.react-calendar {
    max-width: 320px!important;
}
.workout-content {
    padding-bottom: 0.75rem;
    border-bottom: 0.25rem solid $secondary;
}

.latest-header {
    padding-bottom: 0.75rem;
    border-bottom: 0.25rem solid $secondary;
}