.modal-dialog {
    margin: 1.25rem;

    .modal-content {
        background-color: $primary;
        color: $font-color-primary;

        .modal-header {
            border-bottom: none;
        }

        .modal-body {
            border-bottom-left-radius: none;
        }

    }
}