
.navigation-tabs.container {
    height: 70px;

    .navbar {
        background-color: $font-color-primary;
        border-bottom: solid 1px $secondary;
        border-radius: 0.75rem;
    
        .nav-link {
            color: $secondary;

            &.active {
                color: $primary;
            }
        }
    }
}