
.navigation-tabs {
    position: fixed;
    bottom: 1.25rem;
    right:0;
    left: 0;
    z-index: 999;
    
    .navbar {
        background-color: rgb(27, 27, 27);
        border-bottom: solid 1px #EBEBEB;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border-radius: 0.75rem;
    
        .nav-link {
            color: #ffffff;
    
            &.active {
                color: #2c924e;
            }
        }
    }
}