
.navigation-tabs.container {
    height: 80px;

    .navbar {
        background-color: $font-color-primary;
        border-bottom: solid 1px $secondary;
        // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border-radius: 0.75rem;
    
        .nav-link {
            color: $secondary;

            &.active {
                color: $primary;
            }
        }
    }
}