.signup-container {
    min-height: 90vh;

    .form-group {
        position: relative;

        .form-icon {
            position: absolute;
            right: 5%;
        }
    }

    .form-control {
        border: none;
        background-color: $secondary;
        border-bottom: none;
        padding: 0.75rem;
        border-radius: 0.5rem;

        &:focus {
            box-shadow: none;
        }

        // &::placeholder {
        //     color: $font-color;
        // }
        
    }

    input[type=file]::-webkit-file-upload-button {
        background-color: rgb(245, 245, 245);
    }

    .login-link {
        color: red;
    }

    .signup-btn {
        background-color: $primary;
        border: 0.25rem solid $secondary;
        border-radius: 5rem;
        padding: 0.75rem 0;
    }
}



