@import 'bootstrap/scss/bootstrap';
@import 'variables';
@import 'globals';
@import 'navigation';
@import 'login';
@import 'signup';
@import 'workoutsPage';
@import 'musclesPage';

#App {
    min-height: 100vh;
    background-color: $primary;
    color: $font-color;
    padding: 0.5rem;
}

.profile-image {
    margin-bottom: 20px;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.scrollbar {
    overflow-x: auto;
    flex-wrap: nowrap;
}
.scrollbar::-webkit-scrollbar{
    width: 0;
}

.form-control:focus {
    color: white;


    // &::placeholder {
    //     color: transparent;
    // }
}

// .form-control:focus::-webkit-input-placeholder {
//     color: transparent;
//   }
   
//   .form-control::focus:-ms-input-placeholder {
//     color: transparent;
//   }

