@import 'bootstrap/scss/bootstrap';
@import 'variables';
@import 'globals';
@import 'navigation';
@import 'workoutsPage';
@import 'musclesPage';
@import 'profilePage';
@import 'forms';
@import 'buttons';
@import 'modal';

#App {
    min-height: 100vh;
    background-color: $primary;
    color: $font-color-primary;
    padding: 0.5rem;
}

.scrollbar {
    overflow-x: auto;
    flex-wrap: nowrap;
}
.scrollbar::-webkit-scrollbar{
    width: 0;
}

